<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="is_hostname">DESKTOP-40ULD4J</value>
    <value name="is_identifier">9e826831-3bf8-4888-9f99-47fb0b849e3f</value>
    <value name="library_username"></value>
    <value name="library_url"></value>
  </record>
</IDataXMLCoder>
